@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Akzidenz;
    src: url(/fonts/AkzidenzGroteskPro-BoldEx.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: Akzidenz;
    src: url(/fonts/AkzidenzGroteskPro-Md.otf) format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: Akzidenz;
    src: url(/fonts/AkzidenzGroteskPro-Regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  html {
    font-family: Akzidenz, system-ui, sans-serif;
  }
}

@layer components {
  #app {
    @apply h-screen flex flex-col items-center justify-center dark:text-white dark:bg-slate-800
  }
  .logo {
    @apply text-2xl sm:text-4xl md:text-6xl font-bold uppercase
  }
  .button-primary {
    @apply bg-slate-200 rounded-md px-4 py-2 font-medium uppercase hover:bg-slate-300 mt-2 sm:mt-5 dark:bg-indigo-500 hover:dark:bg-indigo-600
  }
  .theme-switcher-wrapper {
    @apply absolute top-6 right-6
  }
}
